# Ignore .out files
*.out
# Ignore .log files
*.log
# Ignore .txt files
*.txt
# Ignore .csv files
*.csv

# Ignore specific files
Gibbsite_Sol_Curve
Fe(OH)2_Sol_Curve
Fe(OH)3(a)_Sol_Curve
Goethite_Sol_Curve
Siderite_Sol_Curve
error.inp